*{
	font-family: 'Source Sans Pro', sans-serif;
}

html, body { 
  background: url(http://wallpapercave.com/wp/BhcQpIw.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#main{
	margin-top: 18em;
	text-align: center;
}